

.home--recipes
{
  background-color: #aaabb8;
  height: 0;
  padding-bottom: 100%; /* 16:9 */
  position: relative;
}

.label
{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: white;
}
